/res
/node_modules

/youthspike-nest-backend/dist
/youthspike-nest-backend/.env
/youthspike-nest-backend/.env.prod
/youthspike-nest-backend/node_modules
/youthspike-nest-backend/redis-cluster

/youthspike-frontend/.env
/youthspike-frontend/node_modules


/test/node_modules


