/* PlayerScoreCard  */
.p-rank {}

.p-name {
    min-height: 1.8rem;
}


.text-c-sm {
    font-size: 0.9rem;
}

.text-c-sm small {
    font-size: 0.7rem;
}

.max-three-line{
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-x: hidden;
    -webkit-line-clamp: 3; */
}



@media(max-width: 1024px) {
    .text-c-sm {
        font-size: 0.7rem;
    }
    .text-c-sm small {
        font-size: 0.5rem;
    }
}

  