NODE_ENV="development"


DB_URI="mongodb://127.0.0.1:27017/spikeball-matches"
JWT_SECRET="asdf1234$"

# For signup as admin
ADMIN_FIRST_NAME="Md"
ADMIN_LAST_NAME="Shayon"
ADMIN_EMAIL="admin@test.com"
ADMIN_PASSWORD="Test1234"

CLIENT_URL="http://localhost:3000"
FWANGO_URL="https://fwango.io/"

# For sending emails
EMAIL_HOST=#
EMAIL_USER=#
EMAIL_PASS=#

CLOUDINARY_API_KEY=#
CLOUDINARY_API_SECRET=#
CLOUDINARY_API_CLOUD=#
CLOUDINARY_API_FOLDER=#
