NODE_ENV="development"

DB_URI="mongodb://127.0.0.1:27017/spikeball-matches"
JWT_SECRET="asdf1234$"


CLIENT_URL="http://localhost:3001"
ADMIN_CLIENT_URL="http://localhost:3000"
FWANGO_URL="https://fwango.io/"
AMERICAN_SPIKERS_URL="https://www.AmericanSpikers.com"

EMAIL_HOST="smtp.gmail.com"
EMAIL_USER="american.spikers.league@gmail.com"
EMAIL_PASS="zbmfibkhwhtjuupq"

CLOUDINARY_API_KEY="281569539784265"
CLOUDINARY_API_SECRET="_FahpS85LHFj-Fq2Y8H3CUpXcfA"
CLOUDINARY_API_CLOUD="djkpxl9pf"
CLOUDINARY_API_FOLDER='dev'


# ADMIN 1 
ADMIN1_FIRST_NAME=#
ADMIN1_LAST_NAME=#
ADMIN1_EMAIL=#
ADMIN1_PASSWORD=#
ADMIN1_PASSCODE=#

# ADMIN 2
ADMIN2_FIRST_NAME=#
ADMIN2_LAST_NAME=#
ADMIN2_EMAIL=#
ADMIN2_PASSWORD=#
ADMIN2_PASSCODE=#

# ADMIN 3
ADMIN3_FIRST_NAME=#
ADMIN3_LAST_NAME=#
ADMIN3_EMAIL=#
ADMIN3_PASSWORD=#
ADMIN3_PASSCODE=#

# ADMIN 4
ADMIN4_FIRST_NAME=#
ADMIN4_LAST_NAME=#
ADMIN4_EMAIL=#
ADMIN4_PASSWORD=#
ADMIN4_PASSCODE=#
