@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography start  */
h1,
h2,
h3,
h4,
h5,
h6 {}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-semibold;
}

h4 {
  @apply text-lg font-medium;
}

h5 {
  @apply text-base font-light;
}

h6 {
  @apply text-sm font-light;
}

p {
  @apply text-sm;
}

label {
  @apply text-lg font-normal;
}

/* Chrome, Safari, and newer Opera */
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
} */

input[type="number"] {
  appearance: none; /* For most browsers */
  -moz-appearance: textfield; /* For Firefox */
}

/* Hide arrows in WebKit browsers (Chrome, Safari) */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
/* Firefox doesn't support changing the background color of autofill via CSS */

/* Microsoft Edge */
input:-ms-autofill,
input:-ms-autofill:hover,
input:-ms-autofill:focus {
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
  /* White text color for Edge */
  background-color: transparent;
  /* Transparent background color */
}

/* New  */
dialog {
  @apply bg-gray-800 text-gray-100 p-2 rounded-lg;
}

dialog::backdrop {
  background-image: linear-gradient(45deg,
      rgb(34, 34, 34),
      rgb(34, 34, 34),
      rgb(34, 34, 34),
      rgb(34, 34, 34));
  opacity: 0.75;
}

/* Typography End  */

/* SVG Style start  */
.svg-white {
  filter: grayscale(100%) brightness(0) invert(100%);
}

.svg-green {
  filter: invert(43%) sepia(100%) saturate(800%) hue-rotate(90deg) brightness(90%) contrast(85%);
}

.svg-black {
  filter: grayscale(100%) brightness(0);
}

.svg-yellow {
  filter: grayscale(100%) sepia(100%) brightness(1.5) saturate(5) hue-rotate(60deg);
}

.svg-red {
  filter: grayscale(100%) brightness(0);
}

/* SVG Style end  */

/* Button style start  */
.btn-primary {
  @apply px-3 py-2 bg-gray-500 text-gray-100 rounded-md hover:bg-gray-700 font-bold text-xl;
}

.btn-secondary {
  @apply px-3 py-2 bg-gray-800 text-gray-100 rounded-md hover:bg-gray-700 font-bold text-xl;
}

.btn-info {
  @apply px-3 py-2 bg-yellow-logo text-gray-900 rounded-md hover:bg-yellow-700 font-bold text-xl;
}

.btn-danger {
  @apply px-3 py-2 bg-red-500 text-red-100 rounded-md hover:bg-red-700 font-bold text-xl;
}

/* Button style end  */

.form-control {
  @apply border border-gray-300 bg-transparent outline-none px-2 rounded-lg h-10 text-center;
}

.form-control-textarea {
  @apply border border-gray-300 bg-transparent outline-none px-2 rounded-lg text-start;
  min-height: 4rem;
}

/* Default styles for the input */
.datetime-input {
  /* Add any other styles you want for the input */
}

/* Change the color of the calendar icon inside the input */
.datetime-input::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Change the color of the clock icon inside the input (for Firefox) */
.datetime-input::-moz-calendar-picker-indicator {
  filter: invert(1);
}

/* Change the color of the clock icon inside the input (for Edge) */
.datetime-input::-ms-clear {
  filter: invert(1);
}



/* Loading animation  */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  /* border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; */
}

/* Custom Design */
.text-yellow-logo{
  color: #fce013;
}

.bg-yellow-logo{
  background: #fce013;
}

.text-yellow{
  color: #fce013;
}
.border-yellow-logo{
  border-color: #fce013;
}

.border-yellow{
  border-color: #fce013;
}

.advanced-img{
  overflow: hidden;
}
.advanced-img img{
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

/* Event card design  */
.events-page .event-card{
  /* style={{ width: '48.5%', minHeight: '12rem' }} */
  width: 48%;
  min-height: 12rem;
}





