@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Dark color #232323 */

/* Typography start  */
h1,
h2,
h3,
h4,
h5,
h6 {
}
h1 {
  @apply text-3xl font-bold;
}
h2 {
  @apply text-2xl font-bold;
}
h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-lg font-medium;
}
h5 {
  @apply text-base font-light;
}
h6 {
  @apply text-sm font-light;
}
p {
  @apply text-sm;
}
label {
  @apply text-lg font-normal;
}

/* Remove arrow (spinner) from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

dialog {}

dialog::backdrop {
  background-image: linear-gradient(45deg,
      #232323,
      #232323,
      #232323,
      #232323);
  opacity: 0.75;
}

/* Typography End  */

/* SVG Style start  */
.svg-white {
  filter: grayscale(100%) brightness(0) invert(100%);
}
.svg-black {
  filter: grayscale(100%) brightness(0);
}

.svg-yellow {
  filter: grayscale(100%) sepia(100%) brightness(1.5) saturate(5) hue-rotate(60deg);
}

.svg-red {
  filter: grayscale(100%) brightness(0);
}
/* SVG Style end  */

/* Button style start  */
.btn-primary {
  @apply px-3 py-2 bg-gray-500 text-white rounded-full hover:bg-gray-700 font-bold text-xl;
}


.btn-light {
  @apply px-3 py-2 bg-green-50 text-green-600 rounded-full hover:bg-white font-black text-xl;
}

.btn-light-outline {
  @apply px-3 py-2 bg-transparent text-white border border-2 border-white rounded-full font-black text-xl;
}

.btn-info {
  @apply px-3 py-2 bg-yellow-400 text-white rounded-full hover:bg-yellow-700 font-bold text-xl;
}


.btn-secondary {
  @apply px-3 py-2 bg-gray-800 text-white rounded-full hover:bg-gray-700 font-bold text-xl;
}

.btn-danger {
  @apply px-3 py-2 bg-red-500 text-white rounded-full hover:bg-red-700 font-bold text-xl;
}

.btn-success {
  @apply px-3 py-2 bg-green-500 text-white rounded-full hover:bg-green-700 font-bold text-xl;
}

/* Button style end  */

.form-control {
  @apply border border-gray-300 bg-transparent outline-none px-2 rounded-full h-10 text-center;
}


/* Box design start  */
.box-success{
  @apply bg-green-500 text-white p-2 font-black;
}
.box-danger{
  @apply bg-red-500 text-white p-2 font-black;
}
.box-gradient{
  /* @apply bg-gradient-to-r from-gray-500 via-gray-700 to-gray-900 text-gray-50; */
  background: linear-gradient(to right, #4b4a4a, #4b4a4a, #000000); /* gray-500, gray-700, gray-900 */
  color: #F9FAFB; /* text-gray-50 */ 
}
/* Box design end */

.bg-gradient-dark{
  background: radial-gradient(circle, #4b4a4a 0%, #000000 100%);
}

/* Loading animation  */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 1s linear infinite;
  /* border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid #3498db; */
}

/* Typography start  */
.font-script{
  font-family: "Vujahday Script", cursive;
}
/* Typography ends  */


/* Borders start  */
.border-light{
  @apply border border-gray-300;
}
.border-yellow{
  @apply border border-yellow-400;
}
/* Borders end  */

.advanced-img{
  overflow: hidden;
}
.advanced-img img{
  object-position: center;
  object-fit: cover;
}

.bg-black-logo{
  /* background-color: #232323; */
  background-color: #000000;
}
.text-black-logo{
  color: #232323;
}
.border-black-logo{
  /* border-color: #232323; */
  border-color: #000000;
}

/* Custom Design  */
/* Customize scrollbar track */
::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
  height: 6px;
}

/* Customize scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #748514; /* color of the scrollbar thumb */
  border-radius: 6px; /* roundness of the scrollbar thumb */
}

/* Customize scrollbar track */
::-webkit-scrollbar-track {
  background: transparent; /* color of the scrollbar track */
}
